 .container-fluid{
 padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  
}
div iframe{
    border-radius: 2%;
} 